.button-dark {
  font: bold 30px Arial;
  text-decoration: none;
  background-color: #1B1B1B;
  color: #FFFFFF;
  padding: 4px 6px 4px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 10px;
}

.button-dark:hover {
  background-color: #FFFFFF;
  color: #1B1B1B;
}
